<!DOCTYPE html>
<html>
<head>
  <title>GuideTorch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="guideTorch" style="overflow-y: scroll !important;">

  <md-content ng-controller="loginController" ng-init="user = {name: '<%=current_user.try(:name)%>', id: '<%=current_user.try(:_id)%>', admin: <%=!!current_user.try(:admin)%>}">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button ng-href="/#">Guide Torch</md-button>
        <span flex></span>
        <span>{{user.name}}</span>
        <md-button ng-show="user.admin" class="md-primary md-raised" ng-href="/admin">Admin</md-button>
        <md-button ng-hide="<%=!!current_user%>" class="md-primary md-raised" ng-click="showLoginDialog($event)">Login</md-button>
        <md-button ng-hide="<%=!current_user%>" class="md-primary md-raised" ng-click="logout()">Logout</md-button>
      </div>
    </md-toolbar>
  </md-content>

  <%= yield %>

</body>
</html>
